@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 96px;
    height: auto;
}

.imgProfile{
    width: 56px;
    height: 56px;
}

ul, li{
    display: inline-block;
    margin-left: 1rem;
    color:  #3764d3;
    font-family: 'Mooli', sans-serif;
    cursor: pointer;
}

ul{
    padding:0;
}

.link__selecionado{
        
    color:  #3764d3;
    border-bottom: 2px solid #3764d3;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 3rem;
    color: #3764d3;
}

.search{
    width: 80%;
    margin: auto;
    height: 40px;
    border-radius: 8px;
    border:2px solid #3764d3;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    gap: 8px;
    align-items: center;
}

.inputPrincipal{
    width: 100%;
    height: 100%;
    border: 0;
}

.btn__search{
    background-color: #ffcb00;
    height: 100%;
    border-radius: 8px;
    font-family: 'Fredoka', sans-serif;
    color: #3764d3;
}

main{
    width: 81%;
    margin: auto;
    display: flex;
    padding-top:48px;
}

form{
    display: flex;
    flex-direction: column;
    gap:24px;
}

select{
    width: 180px;
    height: auto;
    padding: 10px;
    border: 2px solid #3764d3;
    border-radius: 4px;
}

label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Mooli', sans-serif;
    margin-bottom: 4px;
}

h3{
    color: black;
    font-family: 'Mooli', sans-serif;
    
}

h2{
    color: black;
    font-family: 'Mooli', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.cardPokemon{
    padding: 16px;
    border: 2px solid #3764d3;
    border-radius: 8px;
    margin-bottom: 28px;
    margin-right: 19px;

}

.photoPokemon{
    width: 200px;
    height: 200px;

}

.Grama{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color: #7dc50080;
    color: black;
    margin-right: 4px;
}

.Veneno{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#7161d8ab;
    margin-right: 4px;
    color: black;
}

.Fogo{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#fcd862;
    margin-right: 4px;
    color: black;
}

.Pedra{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#5a574197;
    margin-right: 4px;
    color: black;
}

.Elétrico{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:rgba(232, 225, 88, 0.749);
    margin-right: 4px;
    color: black;
}

.Gelo{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#5cbbd8bf;
    margin-right: 4px;
    color: black;
}

.Explosão{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#d8605c79;
    margin-right: 4px;
    color: black;
}

.Água{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#5295e079;
    margin-right: 4px;
    color: black;
}

.Voador{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#52dbe079;
    margin-right: 4px;
    color: black;
}

.Psíquico{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#52b5e079;
    margin-right: 4px;
    color: black;
}

.Normal{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#e052a079;
    margin-right: 4px;
    color: black;
}


.Terrestre{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#e0ac5279;
    margin-right: 4px;
    color: black;
}

.Lutador{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#e0735279;
    margin-right: 4px;
    color: black;
}

.Escuridão{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:#2d150d4e;
    margin-right: 4px;
    color: black;
}

.Fantasma{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:rgba(195, 229, 208, 0.306);
    margin-right: 4px;
    color: black;
}

.Inseto{
    display:inline;
    padding: 8px;
    border-radius: 25px;
    background-color:rgba(151, 226, 154, 0.306);
    margin-right: 4px;
    color: black;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content-container{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px black;
    width: 60%;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.photoEvolution{
    width: 258px;
    padding: 10px;
    margin-right: 8%;
}

p{
    display: flex;
    justify-content: center;
}

.types{
    display: flex;
    justify-content: center;
}

img{
    padding:5%;
}